@{
    ViewBag.Title = "Home page";
}

<h2>Home page</h2>
<p>
    @Html.ActionLink("Go to the main admin page", "Index","Admin")
</p>
<p>
    @Html.ActionLink("Go to the main head page", "Index","Head")
</p>
<p>
    @Html.ActionLink("Go to the main storekeeper page", "Index","Storekeeper")
</p>