@{
    ViewBag.Title = "Main";
}

<h2>Hello! Select one of the following:</h2>
<p>
    @Html.ActionLink("View all Orders", "SelectOrders")
</p>
<p>
    @Html.ActionLink("View all Operations", "SelectOperation")
</p>